.clientfeedback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  padding: 130px 0;
}

.clientfeedback__title {
  color: #282828;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.clientfeedback__title-blue {
  color: #00cff1;
}

.clientfeedback__text {
  width: 463px;
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  text-align-last: center;
  padding: 29px 0 80px;
}

.clientfeedback__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientfeedback__blocks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 410px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-right: 25px;
  margin-bottom: 60px;
}

.clientfeedback__blocks-container:last-of-type {
  margin-right: 0;
}

.clientfeedback__blocks-container-foto {
  background-color: #00cff1;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.clientfeedback__blocks-container-name {
  color: #00cff1;
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
}

.green {
  color: #24c657;
}

.clientfeedback__blocks-container-company {
  color: #282828;
  font-size: 18px;
  font-weight: 400;
}

.clientfeedback__blocks-container-text {
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-style: Italic;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  text-align-last: center;
  padding: 40px 40px 34px 30px;
}

.clientfeedback__blocks-container-text:last-of-type {
  text-align: center;
}

.clientfeedback__blocks-container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
