.footer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 138px 0 149px;
  background: #fbfbfb;
  width: 100%;
}

.footer__contact-conteiner {
  width: 321px;
  padding-right: 80px;
}

.footer__text {
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.footer__title {
  color: #575757;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.footer__social-link {
  display: flex;
  align-items: center;
}

.footer__link-icon {
  padding-right: 10px;
}

.footer__social-icon:last-of-type {
  padding-right: 0;
}

.footer__block {
  width: 135px;
  padding-right: 65px;
}

.footer__block-text {
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}

.footer__contact {
  padding-right: 15px;
}
