.home {
  background: #35203b;
  padding: 240px 0 150px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.home__content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 10px;
}
.home__title-app {
  color: #00cff1;
  font-weight: 700;
}

.home__title-nest {
  color: #00cff1;
  font-weight: 300;
}

.home__subtitle {
  font-size: 36px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.18px;
  padding-bottom: 40px;
}

.home__text {
  font-size: 16px;
}

.home__btn-group {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.home__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background: transparent;
  padding: 0px 10px;
  width: 130px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.home__btn:hover {
  background: #24c657;
  border: 1px solid #24c657;
}

.home__btn-title {
  font-size: 9px;
  font-weight: 300;
  line-height: 8px;
  letter-spacing: 0.09px;
}

.home__btn-subtitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
}
