@media (max-width: 900px) {
  .screen {
    padding: 20px 15px;
  }

  .header__nav,
  .header__buy-button {
    display: none;
  }

  .header__container {
    justify-content: center;
  }

  .home__container img {
    display: none;
  }

  .home__title,
  .home__subtitle,
  .home__text {
    width: 100%;
    text-align: center;
  }

  .home__content-block {
    width: 100%;
  }

  .home__btn-group {
    justify-content: center;
  }

  .feature__item {
    padding-top: 20px;
  }

  .core-features__img {
    display: none;
  }
  .core-features__container {
    width: 100%;
  }

  .core-features__title,
  .core-features__subtitle {
    text-align: center;
  }

  .core-features__items-group {
    width: 100%;
  }
  .core-features__item {
    width: 50%;
  }

  .statistics {
    display: none;
  }

  .screen__title,
  .screen__subtitle {
    width: 100%;
    text-align: center;
  }

  .client-feedback__persons-item {
    margin-top: 20px;
  }
  .client-feedback__persons-item:last-of-type {
    margin-right: 25px;
  }

  .pricing__item {
    margin-top: 40px;
  }

  .pricing__item:last-of-type {
    margin-right: 30px;
  }

  .news__item {
    margin-top: 20px;
  }
  .news__item:last-of-type {
    margin-right: 30px;
  }

  .footer__contact-text,
  .footer__links,
  .footer__contact-email {
    display: none;
  }

  .footer__contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 0;
  }
  .footer__contact-container img {
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .feature__item:last-child {
    padding-right: 48px;
  }
}

@media (min-width: 900px) and (max-width: 1020px) {
  .footer__input {
    width: 110px;
  }
}
