.news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 141px 0;
}

.news__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.news__item:last-of-type {
  margin-right: 0;
}

.news__item-description {
  display: flex;
  /*align-items: left;*/
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 249px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.news__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #474747;
  padding-left: 29px;
}

.news__item-title:hover {
  color: #00cff1;
}

.news__item-authored {
  color: #474747;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  padding-left: 29px;
}

.news__item-authored span {
  font-weight: 400;
}

.news__item-text {
  color: #454545;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 310px;
  text-align: left;
  padding-left: 29px;
}

.news__item-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 29px;
}

.news__item-link-text {
  color: #474747;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
}

.news__item-link-text:hover {
  color: #00cff1;
}

.news__item-link-svg {
  padding: 5px 0 0 5px;
}

.news__item-link-svg:hover path {
  fill: #00cff1;
}
