.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 110px;
}

.pricing__title {
  color: #282828;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.pricing__title-blue {
  color: #00cff1;
}

.pricing__subtitle {
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 463px;
  padding-top: 21px;
}

.pricing__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 40px 0 75px;
}

.pricing__button-left {
  color: #fff;
  background: #24c657;
  width: 185px;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  padding: 6px 0;
}

.pricing__button-right {
  color: #575757;
  width: 185px;
  border-radius: 0 30px 30px 0;
  background: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  padding: 6px 0;
}

.pricing__tables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__tables-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 550px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  position: relative;
}

.pricing__tables-item:last-of-type {
  margin-right: 0;
}

.pricing__tables-item-title {
  color: #575757;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.pricing__tables-item-price {
  color: #00cff1;
  font-size: 60px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 25px;
}

.pricing__tables-item-time {
  color: #575757;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 35px;
}

.pricing__tables-item-text {
  width: 185px;
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

.pricing__tables-item-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  background: #00cff1;
  padding: 24px 31px;
  position: absolute;
  bottom: -30px;
  outline: none;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
}

.bg-green {
  background: #24c657;
}
