.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 110px;
}

.pricing__btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 0 0 75px;
}

.pricing__btn-left {
  color: #fff;
  background: #24c657;
  width: 185px;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  padding: 6px 0;
}

.pricing__btn-right {
  color: #575757;
  width: 185px;
  border-radius: 0 30px 30px 0;
  background: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  padding: 6px 0;
}

.pricing__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 550px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  position: relative;
}

.pricing__item:last-of-type {
  margin-right: 0;
}

.pricing__item-title {
  color: #575757;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.pricing__item-price {
  color: #00cff1;
  font-size: 60px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 25px;
}

.pricing__item-time {
  color: #575757;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 35px;
}

.pricing__item-text {
  width: 185px;
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

.pricing__item-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 24px 31px;
  position: absolute;
  bottom: -30px;
}

.pricing__item-btn_primary {
  background: #00cff1;
}

.pricing__item-btn_secondary {
  background: #24c657;
}
