@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1,
p,
h2,
a,
li,
span,
h3 {
  font-family: "Poppins", sans-serif;
}

.screen {
  margin: 0 auto;
  width: 1170px;
}

.screen__title {
  color: #282828;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.screen__title span {
  color: #00cff1;
}

.screen__subtitle {
  width: 463px;
  color: #575757;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  text-align-last: center;
  padding: 21px 0 36px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  border-radius: 0;
  text-align: inherit;
  outline: none;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
